.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 50%;
    background-color: #e34120;
    padding: 20px;
    color: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    padding: 40px;

  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 10px;
  }
  
  .sidebar ul li:hover {
    background-color: #34495e;
  }
  
  .sidebar ul li.active {
    background-color: #1abc9c;
    color: white;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
  }
  