.new-contact-page {
    font-family: 'Arial', sans-serif;
    /* background-color: #f5f5f5; */
    padding: 20px;
  }
  
  .new-contact-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .new-contact-header h1 {
    color: #e34120;
    font-size: 2em;
  }
  
  .new-contact-header p {
    color: #666;
    font-size: 1em;
  }
  
  .new-contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .new-contact-form, .new-contact-info {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .new-contact-form h2, .new-contact-info h2 {
    color: #e34120;
    margin-bottom: 15px;
    font-size: 21px;
  }
  
  .new-contact-form form input, .new-contact-form form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .new-contact-form form textarea {
    resize: vertical;
  }
  
  .new-submit-btn {
    background-color: #e34120;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .new-submit-btn:hover {
    background-color: #c72b18;
  }
  
  .new-contact-info p {
    margin: 8px 0;
  }
  
  .new-contact-map {
    margin-top: 20px;
  }
  
  .new-contact-map h2 {
    color: #e34120;
    margin-bottom: 10px;
  }
  
  .new-contact-map iframe {
    border-radius: 8px;
    width: 100%;
    height: 250px;
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .new-contact-content {
      flex-direction: row;
      gap: 30px;
    }
  
    .new-contact-form, .new-contact-info {
      flex: 1;
    }
  
    .new-contact-header h1 {
      font-size: 2.5em;
    }
  
    .new-contact-header p {
      font-size: 1.2em;
    }
  
    .new-submit-btn {
      padding: 12px 20px;
      font-size: 1.1em;
    }
  
    .new-contact-map iframe {
      height: 350px;
    }
  }
  
  /* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out;
}

.modal-content h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.modal-content p {
  font-size: 1rem;
  color: #555;
}

.close-modal-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #e34120;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}



/* Animation for modal */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
