.car-details {
  background-color: #ffffff;
  color: #333333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.car-details .brand-name {
  color: #142231;
  font-size: 28px;
  font-weight: 600;
}

.car-details .car-info, .car-details .info-2 {
  color: #666666;
  font-weight: 500;
}

.car-details h3 {
  color: #FF6F61;
  font-weight: 700;
}

.car-details h6 {
  color: #0056b3;
  font-weight: 400;
}

.car-details p {
  color: #555555;
  margin-top: 15px;
  line-height: 1.6;
}

.car-details .text-success {
  color: #28a745;
}

.car-details .text-danger {
  color: #dc3545;
}

.car-details h6 svg {
  color: #FF6F61;
}


.lightbox-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.lightbox-thumbnail {
  width: 18%;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.lightbox-thumbnail:hover,
.lightbox-thumbnail.active {
  border-color: #ff6600;
}

.main-image {
  border-radius: 8px;
  height: 400px;
  object-fit: cover;
}
.info-2{
  color: #222;
  font-weight: 400;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.details-btn{
  background-color: #ff6600;
  padding: 9px;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-image{
    width: 100%;
    height: 200px;
  }
  .car-card {
    width: 100%;
  }
}